.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-wrap: wrap;
  background-color: rgb(64, 104, 130);
}

.projects-title {
  font-size: 50px;
  text-align: center;
  color: white;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 500px;
  height: 400px;
  margin: 20px;
  background-color: #1a374d;
  border-radius: 10px;
}

.project-title {
  font-weight: bold;
  margin-bottom: 50px;
}

.project-description {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.btn-project {
  text-decoration: none;
  width: 80%;
  height: 30px;
  text-align: center;
  background-color: #6998ab;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.btn-project:hover {
  background-color: #406882;
}
