.sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: green;
  position: absolute;
  z-index: 1;
  right: 150px;
}

.nav-link {
  margin-top: 10px;
}
